nav {
  width: 100%;
  background-color: darkgreen;
  height: 60px;
  position: fixed;
  overflow: hidden;
  margin-top: 0;
  z-index: 100;
}
body {
  margin: 0 0 0 0;
}
/* for section 2*/
.section2 {
  background-color: darkblue;
  text-align: right;
  padding: 100px;
}
.ly_game {
  color: aliceblue;
}
.ly_title {
  font-size: large;
  text-align: center;
  color: gold;
  margin-bottom: 100px;
}
.result {
  margin-top: 150px;
  font-size: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 2px solid white;
}
.isleapyear {
  color: green;
}
.text {
  color: red;
}
.hidden {
  opacity: 0;
}
/*for section 3*/
.section3 {
  background-color: darkslategray;
  text-align: right;
}
.calculator {
  width: 300px;
  border: 2px solid black;
  height: 500px;
  margin: 50px 200px;
  border-radius: 10px;
  background-color: midnightblue;
}
.screen {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 126, 106);
  color: white;
  margin: 5px;
  border: 2px solid black;
}
.screen > p {
  line-height: 40px;
  padding: 13px;
  margin: 0%;
  font-size: 27px;
}
.keys {
  margin: 2px;
  border-radius: 4px;
  background-color: rgb(10, 12, 32);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.keys > button {
  font-size: x-large;
  margin: 10px;
  width: 50px;
  height: 50px;
}
.keys > .solve {
  width: 100%;
}
.keys > button:hover {
  color: red;
}
/* for section 4 */

.section4 {
  background-color: darkgoldenrod;
}
.section5 {
  background-color: #000000;
}
.section1 > img {
  width: 100%;
  margin-top: 60px;
}
img {
  margin: auto;
  width: 100%;
}
.section {
  height: 700px;
}
